.slick-next::before {
    color: var(--main-color);
}

.slick-prev::before {
    color: var(--main-color);
}

.slick-dots li.slick-active button::before {
    color: var(--secondary-color);
}

@media (max-width:767px) {

    .slick-next::before,
    .slick-prev::before {
        display: none;
    }


}