.NewsContainer {
    padding: 100px 0;
}

.news {
    position: relative;
    margin: 107px 0;

    height: 700px;
}

.news .cards {
    display: flex;
}

.pic,
.pic3 {
    width: 100%;
}

.pic img {
    width: 100%;
}

.cards {
    position: relative;
}

.cards .left,
.cards .right {
    background-color: var(--main-color);
    padding: 20px;
    border: 1px solid #fff;
    width: 400px;
    height: 300px;
    position: absolute;
}

.cards .left {
    left: 100px;
    background-color: #fff;
    border: 2px solid var(--main-color);
    top: -140px;
    color: #000;
}


.cards .right {
    right: 50px;
    color: #fff;
    top: -80px;
}

.cards .left h2 {
    position: relative;
    padding-top: 12px;
}

.cards .left h2::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 3px;
    left: 0;
    top: 100%;
    background-color: var(--main-color);
}

[data-lang="Arabic"] .cards .left h2::before {

    right: 0;

}

hr {
    background-color: var(--main-color);
}


@media (min-width:768px) and (max-width:991px) {
    .news {
        height: 550px;
    }

    .cards .right {
        width: 300px;
        right: 30px;

    }

    .cards .left {
        left: 40px;
        width: 300px;
    }
}


.pic2 {
    width: 500px;
    height: 400px;
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
}

.pic2 img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}


.news2 {
    position: relative;
    display: flex;
    height: 400px;
}

.cards2 {
    position: absolute;
    right: 600px;
}

.cards2 .left {
    width: 500px;
    position: relative;
    text-align: right;
}

.cards2 .left::after {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 185px;
    left: 81%;
    background-color: var(--main-color);
}


.pic3 {
    width: 100%;
    position: relative;
}

.pic3 img {
    width: 100%;
}

.pic3 p {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
    top: 50%;
    width: 600px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    left: 50%;
}

.pic3 span {
    display: block;
    width: 100%;
    height: 200px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: #00000081;
    left: 50%;
}


@media (min-width:768px) and (max-width:991px) {

    .pic2 {
        width: 400px;
    }

    .cards2 .left {
        width: 250px;
    }

    .cards2 {
        right: 450px;
    }

    .cards2 .left::after {
        width: 70px;
        height: 70px;
        top: 100%;
        left: 181px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .cards2 .left {
        left: 58px;
        width: 416px;
    }
}

@media (min-width:767px) and (max-width:991px) {


    .pic3 p {
        width: 300px;
        font-size: 14px;
    }

    .pic3 span {

        height: 150px;
    }
}

@media (max-width:767px) {
    .news {
        height: 800px;

    }

    .cards .right,
    .cards .left {
        width: 250px;
        height: fit-content;
    }


    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards .right {
        position: initial;
        align-self: flex-end;
    }

    .cards .left {
        align-self: flex-start;
        margin-bottom: -50px;
        position: initial;
    }

    .news2 {
        flex-direction: column;
        height: 700px;
    }

    .news2 .pic2 {
        width: 100%;
    }

    .cards2 {
        left: 0;
        bottom: 96px;
        width: 100%;
    }

    [data-lang='Arabic'] .cards2 {
        right: 0;
        left: initial;
    }

    .cards2 .left {
        left: 0;
        width: 100%;

    }

    .cards2 .left::after {
        width: 80px;
        height: 80px;
        top: 213px;
        left: 29px;
    }

    [data-lang='Arabic'] .cards2 .left::after {
        top: 118px;
    }

    .pic3 p {
        width: 300px;
        font-size: 14px;
    }

    .pic3 span {

        height: 150px;
    }
}