.containerCate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardCate {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border: 3px solid var(--main-color);
    border-radius: 20px;
    width: 300px;
    transition: .3s;
    cursor: pointer;
    margin-top: 20px;
}

div.colss {
    justify-content: center;
    align-items: center;
    display: flex;

}

.advanture {
    color: var(--main-color);
    border: 3px solid var(--main-color);
}

.advanture:hover {
    background-color: var(--secondary-color);
    color: #fff;
    border: 3px solid #fff;
}

.action {
    color: rgb(253, 226, 125);
    border: 3px solid rgb(253, 226, 125);
}

.action:hover {
    background-color: rgb(253, 226, 125);
    color: #fff;
    border: 3px solid #fff;
}

.fiction {
    color: rgb(75, 54, 119);
    border: 3px solid rgb(75, 54, 119);
}

.fiction:hover {
    background-color: rgb(75, 54, 119);
    color: #fff;
    border: 3px solid #fff;
}

.science {
    color: rgb(242, 204, 91);
    border: 3px solid rgb(242, 204, 91);
}

.science:hover {
    background-color: rgb(242, 204, 91);
    color: #fff;
    border: 3px solid #fff;
}

.scienceFiction {
    color: rgb(45, 54, 101);
    border: 3px solid rgb(45, 54, 101);
}

.scienceFiction:hover {
    background-color: rgb(45, 54, 101);
    color: #fff;
    border: 3px solid #fff;
}

.poem {
    color: rgb(2, 127, 238);
    border: 3px solid rgb(2, 127, 238);
}

.poem:hover {
    background-color: rgb(2, 127, 238);
    color: #fff;
    border: 3px solid #fff;
}

.classic {
    color: rgb(175, 4, 16);
    border: 3px solid rgb(175, 4, 16);

}

.classic:hover {
    background-color: rgb(89, 89, 87);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.fantasy {
    color: rgb(255, 216, 75);
    border: 3px solid rgb(255, 216, 75);

}

.fantasy:hover {
    background-color: rgb(255, 216, 75);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.romance {
    color: rgb(249, 29, 80);
    border: 3px solid rgb(249, 29, 80);


}

.romance:hover {
    background-color: rgb(249, 29, 80);
    ;
    color: #fff;
    border: 3px solid #fff;
}

.horror {
    color: rgb(235, 224, 48);
    border: 3px solid rgb(235, 224, 48);


}

.horror:hover {
    background-color: rgb(235, 224, 48);
    color: #fff;
    border: 3px solid #fff;
}

.containerCate {
    margin-top: 100px;
}