* {
  box-sizing: border-box;
}

:root {
  --main-color: #8afb81;
  --secondary-color: #ffff1c;
  --background: #fdffee;
  --color: #000;
  --lang: BinkoEng;
  --dir: ltr;

}

[data-lang='Arabic'] {
  --dir: rtl;
  --lang: BinkoAra;

}

[data-theme='Dark'] {
  --background: #17160d;
  --color: #fff;
}

body {
  font-family: var(--lang);
  background-color: var(--background);
  color: var(--color);
  transition: .5s;
  direction: var(--dir);
}

@font-face {
  font-family: BinkoEng;
  src: url('./assets/fonts/Love_Ya_Like_A_Sister/LoveYaLikeASister-Regular.ttf');
}

@font-face {
  font-family: Binko2Eng;
  src: url('./assets/fonts/Leckerli_One/LeckerliOne-Regular.ttf');
}

@font-face {
  font-family: BinkoAra;
  src: url('./assets/fonts/Markazi_Text/static/MarkaziText-SemiBold.ttf');
}

a {
  text-decoration: none;
  color: var(--color);
}

ul {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

a.dark {
  color: white;
}

a.light {
  color: black;
}

a.active {
  color: var(--main-color);
}

.mark {
  transform: rotate(270deg);
  z-index: -100;
  transition: .3s;
}

a .mark {
  display: none;
}

.active .mark {
  display: block;

}