.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regInput {
    margin-top: 25px;
}

.bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}